In [2]:
print('hello world')

hello world

In [17]:
a = 5
b = "hi"

In [18]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [14]:
x = int(input('Enter the number: '))
print('Your Entered Number is:',x)

Enter the number: 558
Your Entered Number is: 558

In [15]:
x = int(input('Enter the number 1: '))
y = int(input('Enter the number 2: '))

Enter the number 1: 5
Enter the number 2: 6

In [16]:
mul = x*y
sum = x+y
print('Multiplied values of your entered numbers:',mul)

Multiplied values of your entered numbers: 30

In [20]:
if mul > 1000:
   print(f"the output is,{sum} (because the mul is grater than 1000)")
else:
    print(f"the output is, {mul}")

the output is, 30

In [26]:
#using for loop (find the vowel count in the word)
word = "beautiful"
vowel = 'aeiou'
vcount=0
for i in word:
    if i in vowel:
        vcount+=1
print(vcount)

5

In [30]:
#using for loop (find the vowel count in the word)
word = "beautiful"
vcount=0
for x in word:
    if x == 'i' or x == '0' or x == 'u' or x == 'a' or x == 'e':
        vcount+=1
print(vcount)

5

In [33]:
# case sensitive
WORD = 'hi'
word = 'hello'
print(WORD)
print(word)

hi
hello

In [35]:
#define a function
def EvenOdd(x):
    if (x % 2 == 0):
        return "Even"
    else:
        return "Odd"
    
print(EvenOdd(5))
print(EvenOdd(54))

Odd
Even

In [36]:
#define while loop
num = 1
while num < 10:
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9

In [38]:
#define while loop and break
num = 1
while num < 10:
    print(num)
    if num == 3:
       break
    num = num + 1

1
2
3

In [42]:
#print a pattern
star = 6
for i in range(1,star):
    print(i* '*')

*
**
***
****
*****

In [56]:
rows = 7
for i in range(1, rows + 1):
    spaces = ' ' * (rows - i)
    stars = '* ' * (1 * i)
    print(spaces + stars)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [85]:
#print the multiplication table
num = 10
ran = 1
for i in range(1,num):
    for x in range(1,num):
       print(x * i, end = " ")
    print('\b')

1 2 3 4 5 6 7 8 9 
2 4 6 8 10 12 14 16 18 
3 6 9 12 15 18 21 24 27 
4 8 12 16 20 24 28 32 36 
5 10 15 20 25 30 35 40 45 
6 12 18 24 30 36 42 48 54 
7 14 21 28 35 42 49 56 63 
8 16 24 32 40 48 56 64 72 
9 18 27 36 45 54 63 72 81 

In [86]:
#count the number of A,T,G,C NUCLEOTIDES in this DNA = "ATGCGATACGCTTGA" Sequence
dna = "ATGCGATACGCTTGA"
count = 0
for i in dna:
  if i == "A" or i == "T" or  i == "G" or i == "C":
      count += 1
print(count)

15